<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href="../static/css/admin-all-demo.css" th:href="@{/css/admin-all-demo.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- JS Core -->

    <script type="text/javascript" src="../static/js/js-core.js" th:src="@{/js/js-core.js}"></script>
</head>
<body>
<section layout:fragment="content">

    <!-- Sparklines charts -->

    <script type="text/javascript" src="../static/js/sparklines.js" th:src="@{/js/sparklines.js}"></script>
    <script type="text/javascript" src="../static/js/sparklines-demo.js" th:src="@{/js/sparklines-demo.js}"></script>

    <!-- Flot charts -->

    <script type="text/javascript" src="../static/js/flot.js" th:src="@{/js/flot.js}"></script>
    <script type="text/javascript" src="../static/js/flot-resize.js" th:src="@{/js/flot-resize.js}"></script>
    <script type="text/javascript" src="../static/js/flot-stack.js" th:src="@{/js/flot-stack.js}"></script>
    <script type="text/javascript" src="../static/js/flot-pie.js" th:src="@{/js/flot-pie.js}"></script>
    <script type="text/javascript" src="../static/js/flot-tooltip.js" th:src="@{/js/flot-tooltip.js}"></script>
    <script type="text/javascript" src="../static/js/flot-demo-1.js" th:src="@{/js/flot-demo-1.js}"></script>

    <!-- PieGage charts -->

    <script type="text/javascript" src="../static/js/piegage.js" th:src="@{/js/piegage.js}"></script>
    <script type="text/javascript" src="../static/js/piegage-demo.js" th:src="@{/js/piegage-demo.js}"></script>

    <div id="page-title">
        <h2>Dashboard</h2>
        <p>The most complete user interface framework that can be used to create stunning admin
            dashboards and presentation websites.</p>
        <div id="theme-options" class="admin-options">
            <a href="javascript:void(0);" class="btn btn-primary theme-switcher tooltip-button"
               data-placement="left" title="" data-original-title="Color schemes and layout options">
                <i class="glyph-icon icon-linecons-cog icon-spin"></i>
            </a>
            <div id="theme-switcher-wrapper" style="height: 126.429px;">
                <div class="slimScrollDiv"
                     style="position: relative; overflow: hidden; width: auto; height: 100%;">
                    <div class="scroll-switcher" style="overflow: hidden; width: auto; height: 100%;">
                        <h5 class="header">Layout options</h5>
                        <ul class="reset-ul">
                            <li>
                                <label for="boxed-layout">Boxed layout</label>
                                <input type="checkbox" data-toggletarget="boxed-layout"
                                       id="boxed-layout" class="input-switch-alt"
                                       style="display: none;"/>
                                <div id="#boxed-layout" class="switch-toggle"
                                     style="display: block;"></div>
                            </li>
                            <li>
                                <label for="fixed-header">Fixed header</label>
                                <input type="checkbox" data-toggletarget="fixed-header"
                                       id="fixed-header" class="input-switch-alt"
                                       style="display: none;"/>
                                <div id="#fixed-header" class="switch-toggle"
                                     style="display: block;"></div>
                            </li>
                            <li>
                                <label for="fixed-sidebar">Fixed sidebar</label>
                                <input type="checkbox" data-toggletarget="fixed-sidebar"
                                       id="fixed-sidebar" class="input-switch-alt"
                                       style="display: none;"/>
                                <div id="#fixed-sidebar" class="switch-toggle"
                                     style="display: block;"></div>
                            </li>
                            <li>
                                <label for="closed-sidebar">Closed sidebar</label>
                                <input type="checkbox" data-toggletarget="closed-sidebar"
                                       id="closed-sidebar" class="input-switch-alt"
                                       style="display: none;"/>
                                <div id="#closed-sidebar" class="switch-toggle"
                                     style="display: block;"></div>
                            </li>
                        </ul>
                        <div class="boxed-bg-wrapper hide">
                            <h5 class="header">
                                Boxed Page Background
                                <a class="set-background-style" data-header-bg=""
                                   title="Remove all styles" href="javascript:void(0);">Clear</a>
                            </h5>
                            <div class="theme-color-wrapper clearfix">
                                <h5>Patterns</h5>
                                <a class="tooltip-button set-background-style pattern-bg-3"
                                   data-header-bg="pattern-bg-3" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 3">Pattern 3</a>
                                <a class="tooltip-button set-background-style pattern-bg-4"
                                   data-header-bg="pattern-bg-4" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 4">Pattern 4</a>
                                <a class="tooltip-button set-background-style pattern-bg-5"
                                   data-header-bg="pattern-bg-5" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 5">Pattern 5</a>
                                <a class="tooltip-button set-background-style pattern-bg-6"
                                   data-header-bg="pattern-bg-6" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 6">Pattern 6</a>
                                <a class="tooltip-button set-background-style pattern-bg-7"
                                   data-header-bg="pattern-bg-7" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 7">Pattern 7</a>
                                <a class="tooltip-button set-background-style pattern-bg-8"
                                   data-header-bg="pattern-bg-8" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 8">Pattern 8</a>
                                <a class="tooltip-button set-background-style pattern-bg-9"
                                   data-header-bg="pattern-bg-9" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 9">Pattern 9</a>
                                <a class="tooltip-button set-background-style pattern-bg-10"
                                   data-header-bg="pattern-bg-10" title="" href="javascript:void(0);"
                                   data-original-title="Pattern 10">Pattern 10</a>

                                <div class="clear"></div>

                                <h5 class="mrg15T">Solids &amp;Images</h5>
                                <a class="tooltip-button set-background-style bg-black"
                                   data-header-bg="bg-black" title="" href="javascript:void(0);"
                                   data-original-title="Black">Black</a>
                                <a class="tooltip-button set-background-style bg-gray mrg10R"
                                   data-header-bg="bg-gray" title="" href="javascript:void(0);"
                                   data-original-title="Gray">Gray</a>

                                <a class="tooltip-button set-background-style full-bg-1"
                                   data-header-bg="full-bg-1 fixed-bg" title=""
                                   href="javascript:void(0);" data-original-title="Image 1">Image 1</a>
                                <a class="tooltip-button set-background-style full-bg-2"
                                   data-header-bg="full-bg-2 fixed-bg" title=""
                                   href="javascript:void(0);" data-original-title="Image 2">Image 2</a>
                                <a class="tooltip-button set-background-style full-bg-3"
                                   data-header-bg="full-bg-3 fixed-bg" title=""
                                   href="javascript:void(0);" data-original-title="Image 3">Image 3</a>
                                <a class="tooltip-button set-background-style full-bg-4"
                                   data-header-bg="full-bg-4 fixed-bg" title=""
                                   href="javascript:void(0);" data-original-title="Image 4">Image 4</a>
                                <a class="tooltip-button set-background-style full-bg-5"
                                   data-header-bg="full-bg-5 fixed-bg" title=""
                                   href="javascript:void(0);" data-original-title="Image 5">Image 5</a>
                                <a class="tooltip-button set-background-style full-bg-6"
                                   data-header-bg="full-bg-6 fixed-bg" title=""
                                   href="javascript:void(0);" data-original-title="Image 6">Image 6</a>

                            </div>
                        </div>
                        <h5 class="header">
                            Header Style
                            <a class="set-adminheader-style" data-header-bg="bg-gradient-9"
                               title="Remove all styles" href="javascript:void(0);">Clear</a>
                        </h5>
                        <div class="theme-color-wrapper clearfix">
                            <h5>Solids</h5>
                            <a class="tooltip-button set-adminheader-style bg-primary"
                               data-header-bg="bg-primary font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Primary">Primary</a>
                            <a class="tooltip-button set-adminheader-style bg-green"
                               data-header-bg="bg-green font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Green">Green</a>
                            <a class="tooltip-button set-adminheader-style bg-red"
                               data-header-bg="bg-red font-inverse" title="" href="javascript:void(0);"
                               data-original-title="Red">Red</a>
                            <a class="tooltip-button set-adminheader-style bg-blue"
                               data-header-bg="bg-blue font-inverse" title="" href="javascript:void(0);"
                               data-original-title="Blue">Blue</a>
                            <a class="tooltip-button set-adminheader-style bg-warning"
                               data-header-bg="bg-warning font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Warning">Warning</a>
                            <a class="tooltip-button set-adminheader-style bg-purple"
                               data-header-bg="bg-purple font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Purple">Purple</a>
                            <a class="tooltip-button set-adminheader-style bg-black"
                               data-header-bg="bg-black font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Black">Black</a>

                            <div class="clear"></div>

                            <h5 class="mrg15T">Gradients</h5>
                            <a class="tooltip-button set-adminheader-style bg-gradient-1"
                               data-header-bg="bg-gradient-1 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 1">Gradient
                                1</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-2"
                               data-header-bg="bg-gradient-2 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 2">Gradient
                                2</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-3"
                               data-header-bg="bg-gradient-3 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 3">Gradient
                                3</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-4"
                               data-header-bg="bg-gradient-4 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 4">Gradient
                                4</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-5"
                               data-header-bg="bg-gradient-5 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 5">Gradient
                                5</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-6"
                               data-header-bg="bg-gradient-6 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 6">Gradient
                                6</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-7"
                               data-header-bg="bg-gradient-7 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 7">Gradient
                                7</a>
                            <a class="tooltip-button set-adminheader-style bg-gradient-8"
                               data-header-bg="bg-gradient-8 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 8">Gradient
                                8</a>
                        </div>
                        <h5 class="header">
                            Sidebar Style
                            <a class="set-sidebar-style" data-header-bg="" title="Remove all styles"
                               href="javascript:void(0);">Clear</a>
                        </h5>
                        <div class="theme-color-wrapper clearfix">
                            <h5>Solids</h5>
                            <a class="tooltip-button set-sidebar-style bg-primary"
                               data-header-bg="bg-primary font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Primary">Primary</a>
                            <a class="tooltip-button set-sidebar-style bg-green"
                               data-header-bg="bg-green font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Green">Green</a>
                            <a class="tooltip-button set-sidebar-style bg-red"
                               data-header-bg="bg-red font-inverse" title="" href="javascript:void(0);"
                               data-original-title="Red">Red</a>
                            <a class="tooltip-button set-sidebar-style bg-blue"
                               data-header-bg="bg-blue font-inverse" title="" href="javascript:void(0);"
                               data-original-title="Blue">Blue</a>
                            <a class="tooltip-button set-sidebar-style bg-warning"
                               data-header-bg="bg-warning font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Warning">Warning</a>
                            <a class="tooltip-button set-sidebar-style bg-purple"
                               data-header-bg="bg-purple font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Purple">Purple</a>
                            <a class="tooltip-button set-sidebar-style bg-black"
                               data-header-bg="bg-black font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Black">Black</a>

                            <div class="clear"></div>

                            <h5 class="mrg15T">Gradients</h5>
                            <a class="tooltip-button set-sidebar-style bg-gradient-1"
                               data-header-bg="bg-gradient-1 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 1">Gradient
                                1</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-2"
                               data-header-bg="bg-gradient-2 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 2">Gradient
                                2</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-3"
                               data-header-bg="bg-gradient-3 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 3">Gradient
                                3</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-4"
                               data-header-bg="bg-gradient-4 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 4">Gradient
                                4</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-5"
                               data-header-bg="bg-gradient-5 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 5">Gradient
                                5</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-6"
                               data-header-bg="bg-gradient-6 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 6">Gradient
                                6</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-7"
                               data-header-bg="bg-gradient-7 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 7">Gradient
                                7</a>
                            <a class="tooltip-button set-sidebar-style bg-gradient-8"
                               data-header-bg="bg-gradient-8 font-inverse" title=""
                               href="javascript:void(0);" data-original-title="Gradient 8">Gradient
                                8</a>
                        </div>
                    </div>
                    <div class="slimScrollBar"
                         style="width: 10px; position: absolute; top: 0; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 580px; background: rgba(0, 0, 0, 0.298039);"></div>
                    <div class="slimScrollRail"
                         style="width: 10px; height: 100%; position: absolute; top: 0; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div class="header">
                        $34,657
                        <span>Total Earnings<b> in last</b> ten <b>quarters</b></span>
                    </div>
                    <div class="bs-label bg-green">+18%</div>
                    <div class="center-div sparkline-big-alt">
                        <canvas width="440" height="110"
                                style="display: inline-block; width: 440px; height: 110px; vertical-align: top;"></canvas>
                    </div>
                    <div class="row list-grade">
                        <div class="col-md-2">January</div>
                        <div class="col-md-2">February</div>
                        <div class="col-md-2">March</div>
                        <div class="col-md-2">April</div>
                        <div class="col-md-2">May</div>
                        <div class="col-md-2">June</div>
                    </div>
                </div>
                <div class="button-pane">
                    <div class="size-md float-left">
                        <a href="#" title="">
                            Financial statistics
                        </a>
                    </div>
                    <a href="#"
                       class="btn btn-info float-right tooltip-button" data-placement="top" title=""
                       data-original-title="View details">
                        <i class="glyph-icon icon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div class="header">
                        169
                        <span>Total Subscriptions<b> in last</b> 6 days</span>
                    </div>
                    <div class="bs-label bg-red">-14%</div>
                    <div class="center-div sparkline-big-alt">
                        <canvas width="440" height="110"
                                style="display: inline-block; width: 440px; height: 110px; vertical-align: top;"></canvas>
                    </div>
                    <div class="row list-grade">
                        <div class="col-md-2">M</div>
                        <div class="col-md-2">T</div>
                        <div class="col-md-2">W</div>
                        <div class="col-md-2">T</div>
                        <div class="col-md-2">F</div>
                        <div class="col-md-2">S</div>
                    </div>
                </div>
                <div class="button-pane">
                    <div class="size-md float-left">
                        <a href="#" title="">
                            View all members
                        </a>
                    </div>
                    <a href="#"
                       class="btn btn-default float-right tooltip-button" data-placement="top" title=""
                       data-original-title="View details">
                        <i class="glyph-icon icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div class="header">
                        8960
                        <span>Total Downloads<b> in last</b> 6 years</span>
                    </div>
                    <div class="bs-label bg-orange">~51%</div>
                    <div class="center-div sparkline-big-alt">
                        <canvas width="440" height="110"
                                style="display: inline-block; width: 440px; height: 110px; vertical-align: top;"></canvas>
                    </div>
                    <div class="row list-grade">
                        <div class="col-md-2">2009</div>
                        <div class="col-md-2">2010</div>
                        <div class="col-md-2">2011</div>
                        <div class="col-md-2">2012</div>
                        <div class="col-md-2">2013</div>
                        <div class="col-md-2">2014</div>
                    </div>
                </div>
                <div class="button-pane">
                    <div class="size-md float-left">
                        <a href="#" title="">
                            View more details
                        </a>
                    </div>
                    <a href="#"
                       class="btn btn-primary float-right tooltip-button" data-placement="top" title=""
                       data-original-title="View details">
                        <i class="glyph-icon icon-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        Recent sales activity
                    </h3>
                    <div class="example-box-wrapper">
                        <div id="data-example-1" class="mrg20B"
                             style="width: 100%; height: 300px; padding: 0; position: relative;">
                            <canvas class="flot-base" width="1018" height="300"
                                    style="direction: ltr; position: absolute; left: 0; top: 0; width: 1018px; height: 300px;"></canvas>
                            <div class="flot-text"
                                 style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; font-size: smaller; color: rgb(84, 84, 84);">
                                <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                     style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block;">
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 25px; text-align: center;">
                                        0
                                    </div>
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 165px; text-align: center;">
                                        50
                                    </div>
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 305px; text-align: center;">
                                        100
                                    </div>
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 449px; text-align: center;">
                                        150
                                    </div>
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 593px; text-align: center;">
                                        200
                                    </div>
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 736px; text-align: center;">
                                        250
                                    </div>
                                    <div style="position: absolute; max-width: 127px; top: 287px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 880px; text-align: center;">
                                        300
                                    </div>
                                </div>
                                <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                     style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block;">
                                    <div style="position: absolute; top: 271px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        0.0
                                    </div>
                                    <div style="position: absolute; top: 226px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        0.2
                                    </div>
                                    <div style="position: absolute; top: 181px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        0.4
                                    </div>
                                    <div style="position: absolute; top: 137px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        0.6
                                    </div>
                                    <div style="position: absolute; top: 92px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        0.8
                                    </div>
                                    <div style="position: absolute; top: 47px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        1.0
                                    </div>
                                    <div style="position: absolute; top: 2px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                        1.2
                                    </div>
                                </div>
                            </div>
                            <canvas class="flot-overlay" width="1018" height="300"
                                    style="direction: ltr; position: absolute; left: 0; top: 0; width: 1018px; height: 300px;"></canvas>
                            <div class="legend">
                                <div style="position: absolute; width: 67px; height: 34px; top: 13px; right: 15px; background-color: rgb(255, 255, 255); opacity: 0.85;"></div>
                                <table style="position:absolute;top:13px;right:15px;;font-size:smaller;color:#545454">
                                    <tbody>
                                    <tr>
                                        <td class="legendColorBox">
                                            <div style="border:1px solid #ccc;padding:1px">
                                                <div style="width:4px;height:0;border:5px solid rgb(46,204,113);overflow:hidden"></div>
                                            </div>
                                        </td>
                                        <td class="legendLabel">Today</td>
                                    </tr>
                                    <tr>
                                        <td class="legendColorBox">
                                            <div style="border:1px solid #ccc;padding:1px">
                                                <div style="width:4px;height:0;border:5px solid rgb(214,221,226);overflow:hidden"></div>
                                            </div>
                                        </td>
                                        <td class="legendLabel">Yesterday</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="#"
                       title="Example tile shortcut" class="tile-box tile-box-alt btn-success">
                        <div class="tile-header">
                            Photo Gallery
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10 easyPieChart" data-percent="43"
                                 style="width: 100px; height: 100px; line-height: 100px;">
                                <span>42</span>%
                                <canvas width="100" height="100"></canvas>
                                <canvas width="100" height="100"></canvas>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#"
                       title="Example tile shortcut" class="tile-box tile-box-alt btn-info">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10 easyPieChart" data-percent="76"
                                 style="width: 100px; height: 100px; line-height: 100px;">
                                <span>75</span>%
                                <canvas width="100" height="100"></canvas>
                                <canvas width="100" height="100"></canvas>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#"
                       title="Example tile shortcut" class="tile-box tile-box-alt btn-warning">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10 easyPieChart" data-percent="11"
                                 style="width: 100px; height: 100px; line-height: 100px;">
                                <span>10</span>%
                                <canvas width="100" height="100"></canvas>
                                <canvas width="100" height="100"></canvas>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="content-box mrg20T">
                <h3 class="content-box-header bg-primary">
                    Toggle button closed
                    <span class="header-buttons-separator">
                    <a href="#"
                       class="icon-separator toggle-button">
                        <i class="glyph-icon icon-chevron-down"></i>
                    </a>
                </span>
                </h3>
                <div class="content-box-wrapper hide">
                    This content boxes has the header with <code>.bg-default</code>.
                </div>
            </div>

            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-cog"></i>
                    Live server status
                    <span class="header-buttons-separator">
                    <a href="#" class="icon-separator">
                        <i class="glyph-icon icon-question"></i>
                    </a>
                    <a href="#"
                       class="icon-separator refresh-button" data-style="dark" data-theme="bg-white" data-opacity="40">
                        <i class="glyph-icon icon-refresh"></i>
                    </a>
                    <a href="#"
                       class="icon-separator remove-button" data-animation="flipOutX">
                        <i class="glyph-icon icon-times"></i>
                    </a>
                </span>
                </h3>
                <div class="content-box-wrapper">
                    <div id="data-example-3"
                         style="width: 100%; height: 250px; padding: 0; position: relative;">
                        <canvas class="flot-base" width="1028" height="250"
                                style="direction: ltr; position: absolute; left: 0; top: 0; width: 1028px; height: 250px;"></canvas>
                        <div class="flot-text"
                             style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; font-size: smaller; color: rgb(84, 84, 84);">
                            <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                 style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block;">
                                <div style="position: absolute; top: 236px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 14px; text-align: right;">
                                    0
                                </div>
                                <div style="position: absolute; top: 187px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 8px; text-align: right;">
                                    25
                                </div>
                                <div style="position: absolute; top: 139px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 8px; text-align: right;">
                                    50
                                </div>
                                <div style="position: absolute; top: 90px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 8px; text-align: right;">
                                    75
                                </div>
                                <div style="position: absolute; top: 41px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 10px; line-height: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(0, 0, 0, 0.4); left: 1px; text-align: right;">
                                    100
                                </div>
                            </div>
                        </div>
                        <canvas class="flot-overlay" width="1028" height="250"
                                style="direction: ltr; position: absolute; left: 0; top: 0; width: 1028px; height: 250px;"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row mrg20B">
                <div class="col-md-6">
                    <a href="#"
                       title="Example tile shortcut" class="tile-box tile-box-shortcut btn-primary">
                        <span class="bs-badge badge-absolute">5</span>
                        <div class="tile-header">
                            Dashboard
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#"
                       title="Example tile shortcut" class="tile-box tile-box-shortcut btn-black">
                        <span class="bs-badge badge-absolute">5</span>
                        <div class="tile-header">
                            Orders
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-cogs"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        Users activity
                    </h3>
                    <div class="example-box-wrapper">
                        <div class="timeline-box timeline-box-left">
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-red">
                                        <i class="glyph-icon icon-toggle-on"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-info">Appointment</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-primary">
                                        <i class="glyph-icon icon-wifi"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label bg-yellow">Teleconference
                                            </div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-black">
                                        <i class="glyph-icon icon-headphones"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-danger">Meeting</div>
                                            <p class="tl-content">Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box bg-white post-box">
                                <textarea name="" class="textarea-autosize"
                                          placeholder="What are you doing right now?"></textarea>
                <div class="button-pane">
                    <a href="#"
                       class="btn btn-md btn-link hover-white" title="">
                        <i class="glyph-icon icon-volume-down"></i>
                    </a>
                    <a href="#"
                       class="btn btn-md btn-link hover-white" title="">
                        <i class="glyph-icon icon-video-camera"></i>
                    </a>
                    <a href="#"
                       class="btn btn-md btn-link hover-white" title="">
                        <i class="glyph-icon icon-microphone"></i>
                    </a>
                    <a href="#"
                       class="btn btn-md btn-link hover-white" title="">
                        <i class="glyph-icon icon-picture-o"></i>
                    </a>

                    <a href="#"
                       class="btn btn-md btn-post float-right btn-success" title="">
                        Post
                    </a>

                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <ul class="todo-box">
                        <li class="border-red">
                            <input type="checkbox" name="todo-1" id="todo-1"/>
                            <label for="todo-1">This is an example task that i need to finish</label>
                            <span class="bs-label bg-red" title="">Overdue</span>
                            <a href="#"
                               class="btn btn-xs btn-danger float-right" title="">
                                <i class="glyph-icon icon-remove"></i>
                            </a>
                            <a href="#"
                               class="btn btn-xs btn-success float-right" title="">
                                <i class="glyph-icon icon-check"></i>
                            </a>
                        </li>
                        <li class="border-orange">
                            <input type="checkbox" name="todo-2" id="todo-2"/>
                            <label for="todo-2">Update server to a newer version</label>
                            <span class="bs-label bg-green" title="">2 Weeks</span>
                            <a href="#"
                               class="btn btn-xs btn-danger float-right" title="">
                                <i class="glyph-icon icon-remove"></i>
                            </a>
                            <a href="#"
                               class="btn btn-xs btn-success float-right" title="">
                                <i class="glyph-icon icon-check"></i>
                            </a>
                        </li>
                        <li class="border-blue">
                            <input type="checkbox" name="todo-3" id="todo-3"/>
                            <label for="todo-3">Add more awesome template features</label>
                            <span class="bs-label bg-blue" title="">Tomorrow</span>
                            <a href="#"
                               class="btn btn-xs btn-danger float-right" title="">
                                <i class="glyph-icon icon-remove"></i>
                            </a>
                            <a href="#"
                               class="btn btn-xs btn-success float-right" title="">
                                <i class="glyph-icon icon-check"></i>
                            </a>
                        </li>
                        <li class="border-purple">
                            <input type="checkbox" name="todo-4" id="todo-4"/>
                            <label for="todo-4">Never forget to buy milk</label>
                            <span class="bs-label bg-black" title="">Today</span>
                            <a href="#"
                               class="btn btn-xs btn-danger float-right" title="">
                                <i class="glyph-icon icon-remove"></i>
                            </a>
                            <a href="#"
                               class="btn btn-xs btn-success float-right" title="">
                                <i class="glyph-icon icon-check"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>